/* body {
    background: #161616;
    font-family: 'Patrick Hand', cursive;
    margin: 5% auto auto auto;
    text-align: center;
} */


/* body section.weather {
    border-radius: 2%;
    color: whitesmoke;
} */


/* body section.weather h1 {
    font-size: 3rem;
} */


/* body section.weather span#unit {
    color: #ff383e;
    cursor: pointer;
} */


/* body section.weather span#unit:hover {
    color: #c01d22;
}
 */


/* @media (max-width: 992px) {
    body section.weather {
        width: 75%;
    }
} */