.dolarBanner {
    color: whitesmoke;
}

.row-money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    animation: scrollText 30s infinite linear;
    max-width: 100% !important;
    font-weight: bold;
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}